@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400&display=swap');

/* Remove drag fantasma das imagens */
img{-webkit-user-drag: none;-khtml-user-drag: none;-moz-user-drag: none;-o-user-drag: none;}
/* Scroll*/
::-webkit-scrollbar {width: 7px;}
::-webkit-scrollbar-track {background: #f5eeee;}
::-webkit-scrollbar-thumb {background: #888888df;}
::-webkit-scrollbar-thumb:hover {background: #4d4c4c; }

html {
    font-family: 'Source Sans Pro';
    background-color: whitesmoke;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    height: 100vh;
    position: absolute;
}

hr {
    margin: 0;
}

header {
    height: 5rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(110, 110, 110);    
}

nav{
    display: flex;
    justify-content: space-between;
    width: 50vw;
}

nav a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.4rem;
    font-weight: 300;
}

nav a,
nav a:after,
nav a:before {
  transition: all .5s;
}

.nav-social a{
    color: whitesmoke;
    font-size: 2rem;
    margin: 1rem;
}

nav.stroke a {
  position: relative;
}

nav a:hover {
    font-size: 1.5rem;
}

nav.stroke a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}

nav.stroke a:hover:after {
  width: 100%;
}

.event {
    background: linear-gradient(45deg, #ade5fc, #e1a2d4);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}


.text-background {
    width: 43%;
    height: 100%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.text {
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    width: 85%;
}

.text h1 {
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 0;
}

.text p {
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 0;
}

.text p a {
    font-size: inherit;
}

.text h3 {
    margin: 2rem 0em;
    font-weight: 500;
}

.text a {
    color: black;
    font-size: 1.2rem;
}

.about {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 5em 1em;
}

.about-text{
    width: 50%;
    line-height: 1.2;
    font-size: 2rem;
}

#image-about {
    width: 20%;

}

#learn-more {
    width: 37.5%;
    align-self: center;
    margin-top: 2em;
    background-color: transparent;
    padding: 1.2em 1.5em;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 0.125em;
    border: 1px solid grey;
    transition: border-color 0.2s, color 0.2s, background-color 0.2s ease-in-out;
}

#learn-more:active {
    background-color: #00e1ff31;
}

#learn-more:hover {
    border-color: #00e1ff;
    color: #00e1ff;
}

#logo {
    width: 30%;
    margin: 0 auto;
    position: relative;
    bottom: 10%;
}

#Convidados {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: whitesmoke;
    flex-wrap: wrap;
    text-align: center;
    padding: 0 10vw;
    margin-bottom: 5rem;
}

#Convidados .convidado {
    margin: 2vh 5vw;
}
#cronograma h2,
#Convidados h2 {
    width: 100%;
    font-weight: 300;
    font-size: 3rem;
    line-height: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

a.link {
    text-decoration: none;
    color: #4b4c4d;
    font-weight: bold;
}

#Convidados .convidado img {
    width: 13vw;
    height: 13vw;
    border-radius: 50%;    
}

#Convidados .convidado .saibaMaisConvidado {
    width: 75%;
    border-radius: 999px;
    border: 1px solid #3d3d3d85;
    line-height: 1.8;
    font-size: 1.3rem;
    font-weight: 300;    
    cursor: pointer;
    color: #3d3d3d;
    transition: 0.6s;
    margin: 0 auto;
    user-select: none
}

#Convidados .convidado .saibaMaisConvidado:hover{
    border: 1px solid #8479aa;
    color: #8c81b1;
}


#Convidados .convidado h3 {
    font-weight: 200;
    font-size: 2.3rem;
    margin: 10px 0;
}


.aviso{
    display: none;
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(3px);
    background: linear-gradient(0deg, #2a27276e, #2a272726);
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
}

.aviso .modal {
    background-color: whitesmoke;
    border-radius: 1em;
    padding: 1em 1.2em;
    width: 50vw;
    font-weight: 300;
}

.aviso .modal h3 {
    margin: 1rem 0;
    font-size: 2.3rem;
    font-weight: 300;
}

.aviso .modal p {
    font-size: 1.3rem;
}

#committee {
    font-weight: 200;
    margin: 6rem;
}

#committee h2 {
    font-size: 3.5rem;
    font-weight: 300;
}

#committee li {
    font-size: 1.2rem;
    margin-bottom: 0.6rem;
}

#committee b {
    font-weight: 500;
}

footer {
    margin: 1.5rem;
    height: 18vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 200;
    font-size: 1.2rem;
    color: #4b4c4d;
}

footer ul {
    margin: 0.5rem;
}

#codelab {
    color: #c32ad1;
    text-decoration: none;
    font-weight: 500;
}

#codelab:hover {
    color: #9300a0;
}

.footer-social a {
    font-size: 2rem;
    color: inherit;
    width: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    opacity: 0.75;
    transition: all 200ms ease-in-out;
}

.fa-facebook {
    transition: all 200ms ease-in-out;
}

.fa-facebook:hover {
    color: #3b5998;
}

.fa-twitter {
    transition: all 200ms ease-in-out;
}

.fa-twitter:hover {
    color: #00acee;
}

.fa-linkedin {
    transition: all 200ms ease-in-out;
}

.fa-linkedin:hover {
    color: #0e76a8;
}

footer p {
    margin: 1.3rem;
    font-size: 1.2rem;
    text-align: center;
}

#cronograma h2{
    justify-content: left;
}
#cronograma{
    justify-content: space-around;    
    flex-wrap: wrap;
    padding: 0 6rem;
    display: flex;
    font-weight: 300;
}

#cronograma .cardHorario{
    width: 25%;
    border-radius: 15px;
    padding: 2px;
    background: linear-gradient(45deg, #ade5fc, #e1a2d4);
    margin-bottom: 5vh;
}

#cronograma .cardHorario .interiorCard{
    background-color: #fff;
    padding: 1rem 2rem;
    border-radius: 14px;
    height: 100%;
    box-sizing: border-box;
}

#cronograma .cardHorario .content{
    margin: 1rem 0;
    font-size: 1.15rem;
}

#cronograma .cardHorario .header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#cronograma .cardHorario .header h4{
    font-size: 1.5rem;
    font-weight: 300;
}

#cronograma .cardHorario .header h4,
#cronograma .cardHorario .header p{
    margin: 0;
}
#cronograma .cardHorario .footer{
    justify-content: end;   
    user-select: none;
    transition: 0.6s;
    cursor: pointer; 
    display: flex;
}

/*Responsivo ========================= */
/*Resoluções 600px, 900px, 1280px, 1380px ==== */

@media screen and (max-width: 1380px){
    #image-about{width: 30%;}
    .about-text{font-size: 1.5rem;}
}

@media screen and (max-width: 1280px){
    #cronograma{justify-content: space-between;}
    #cronograma .cardHorario{width: 35%;}
}

@media screen and (max-width: 1024px){
    #cronograma .cardHorario{width: 45%;}
    .about-text{font-size: 1.3rem;}
}

@media screen and (max-width: 900px){
    .text-background{width: 100%;}
    .event img{height: 25vh;}
    #logo{margin-top: 2vh;}
    body{font-size: 16px;}
    #learn-more{width: 41.5%;}
    .about-text {width: 70%;}
    #image-about{width: 40%;}
}

@media screen and (max-width: 650px)  {
    .text-background{width: 100%;}
    body{font-size: 14px;}
    .convidado{width: 40vw;}
    #Convidados .convidado img{width: 20vw; height: 20vw;}
    nav{width: 85vw;}
    .nav-social{display: none;}     
    i.menuMobile{display: flex;}
    div.nav-socialMobile{display: flex;} 
    #cronograma .cardHorario{width: 100%;}
    .about-text {width: 90%;line-height: 1;font-size: 1.5rem;}
    #image-about{width: 60%;}
}

/* Fim Responsivo ==================== */
